html{
    background: url(./images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #353535;
      
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {

	font-family: 'Raleway', sans-serif;
}

.wrapper {

    width : 1500px;
    height: 700px;
    background: rgba(0,0,0,0.8);
    padding : 50px;
    color: white;
    margin: 60 auto;
    margin-top: 100px
	margin:  auto;
    text-align: center;
    border-radius: 20px;
	
}

h1 {
    color: #ecf0f1;
}

h1 + p {
	margin-bottom: 5%;
    color: #3498db;
}

.scoreWrap {float: left;}
.timeWrap {float: right;}

.outerWrap:after {
	content: "";
	display: block;
	clear: both;
}

.bg {
	background-color: #04AF71;
}

button {
  border: none;
  background-color: #77d0ff;
  box-shadow: 0px 5px 0px 0px #1f6082;
  outline: none;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.scoreWrap p, .scoreWrap span, .timeWrap p, .timeWrap span {
    font-size: 30px;
    color: #42f4ce;
}

.wordsWrap {
	margin-top: 50px;
}

.words span{
    font-size: 60px;
    letter-spacing: 1px;
    color: #ECF0F1;
}








